@import "tailwindcss";

@theme {
  --color-background: #E6EEF5;
  --color-foreground: #171717;
  --color-azul-escuro: #224870;
  --color-azul-claro: #2a638f;
  --color-vermelho: #a30000;
  --color-amarelo: #f8c537;
  --color-verde: #28965a;
  --color-gelo: #F8F9FB;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "Inter", sans-serif;
}